/**
* Modal box
**/
/* The Modal (background) */
.cw-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    overflow: hidden;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.3s;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #777777;
    color: white;
    text-align: center;
    height: 40px;
    font-size: max(1.1em, 14px);
    font-weight: 500;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
    margin: 1em;
    font-size: max(0.8em, 12px);
}

/* Modal Footer */
.modal-footer {
    border-top: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
}

/* Modal Title */
.modal-title {
    line-height: 40px; /* same as the containing div, to vertically center */
}

/* Modal Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* The Close Button */
.modal-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}

/* The modal footer button */
.modal-button {
    /* the footer is 40px, so these numbers are to center it */
    margin: 10px auto;
    height: 20px;
}
